{% extends 'base.html' %}
{% load static %}


{% block content %}
<video width="500" height="380" class="center" autoplay loop>
  <source src= "{% static 'Hello.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>
	<div class="form-style" align="middle" >
		<p class="tdd">Your only portal for sign language translation</p>
	{% comment %} <a href="{% url 'animation' %}"><button class="button">Click to Start</button></a> {% endcomment %}
	<a href="{% url 'animation' %}"><button class="button">Text to Sign</button></a> <br>
	<a href="{% url 'signtotext' %}"><button class="button">Sign to Text</button></a>
	</div>
{% endblock %}
