{% extends 'base.html' %}


{% block content %}
<div class="form-style">
	<h1>Log in</h1>
	<form class="site-form" action="." method="post">
		{% csrf_token %}
		{{ form }}
		{% if request.GET.next %}
			<input type="hidden" name="next" value="{{ request.GET.next }}">
		{% endif %}
		<input class="submit" type="submit" value="Log in">
	</form>
	<p class="tdd">Don't have an account? <a class="active" style="margin:2px;"href="{% url 'signup' %}">Signup	
	</a></p>
	{% comment %} CHANGED HERE {% endcomment %}
</div>
{% endblock %}
